body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pacifico" , cursive;
  background-color: #fafafa;
  font-size: 16px;
  scroll-behavior: smooth;
}
header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100vw;
  border-bottom: 1px solid rgba(0,0,0,.0975);
}
.bold {
  font-family: 'sans-serif';
  font-weight: bold;
  margin: 10px 10px 10px 15px;;
  
}
.commDiv {
  font-size: 16px;
  font-family: 'sans-serif';
  display: block;
  margin: 10px 10px 10px 0px;
}
.header-container {
  display: flex;
  align-items: center;
  margin: 0 39px;
  padding: 26px 20px;
  height: 25px;
  justify-content: space-between;
  background-color: #ffffff;
  
}
.active {
  color: red;
}
.vertical-line {
    background-color: #6dcf6a;
    height: 28px;
    margin: 0 16px;
    width: 1px;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 150px;
}
.icons {
    display: flex;
    justify-content: space-between;
    width: 160px;
    padding-left: 18px;
    margin-right: 150px;
    cursor: pointer;
}
.search-bar {
  border: 1px solid #dbdbdb;
  background: #ffffff;
  font-size: 14px;
  height: 28px;
  width: 215px;
  line-height: 28px;
  color: #999;
  font-weight: 300;
  /* margin-left: 50px; */
  color: black;
  width: 80%;

}
.search-container {
  margin-left: 20px;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.card {
  margin-top: 140px;
  width: 100%;
  border: 1px solid #e6e6e6;
  max-width: 620px;
}
.sm-img {
  width: 32px;
  height: 30px;
  border: 2px solid #f97167;
  border-radius: 50%;
  padding: 1px;
  margin-right: 15px;

}
.card-user {
  display: flex;
  align-items: center;
  padding: 16px;
  
}
.card-image {
/* background-image: url(/front/images/dummy.jpg); */
width: 100%;
height: 1000px;
background-position: 40% 100%;
}
.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 15px;
}
.fa-heart {
  cursor: pointer;
  padding-right: 10px;
}
.fa-comment {
  cursor: pointer;
}
.like-section {
  font-family: sans-serif;
  font-weight: bold;
  padding-left: 15px;
}
.add-a-comment {
  border-top: 1px solid #efefef;
  color: #b8cf30;
    height: 60px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
.input-a-comment {
  border: none;
  padding-left: 5px;
  outline: none;
  font-size: 18px;
  width: 100%;
  background-color: #fafafa;
}
@media (max-width: 980px) {
  .icons {
    margin-right: 0px;
  }
  .logo {
    margin-left: 0px;
  }
}
@media (max-width: 890px) {
  .desktop {
    display: none;
  }
}
@media (max-width: 500px) {
  .card-container {
    margin: 0px 10px;
  }
  .card-image {
    background-position: 55% 100%;
  }
}
@media (max-width: 660px) {
  .card-container {
    margin: 0px 10px;
  }
}