.footer {

    &--blue {
        background: #3897f0;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
    }
}

.link {

    &--white {
        color: #fff;
        margin: 15px;
        width: 100%;
        text-align: center;

    }
}