<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Make post</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <form class="post-form" action="/make-post" method="POST">
        <div class="form-control">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" />
        </div>
        <div class="form-control">
          <label for="addImg">Add your image</label>
          <input type="file" name="addImg" id="addImg" />
        </div>
        <div class="form-control">
          <label for="description">Description</label>
          <textarea name="description" id="description" rows="5"></textarea>
        </div>
        <div class="form-control">
          <label for="hashtags">Hashtags</label>
          <textarea name="hashtags" id="hashtags" rows="5"></textarea>
        </div>

        <button class="btn" type="submit">Make post</button>
      </form>
    </div>
  </body>
</html>
